body {
    background-color: #6E2436;
    background-image: url('../img/noise.png');
    color: #1a1f24;
    font: 400 13px/1.8 'Droid Serif', Georgia, Times, serif;
}

a {
    color: #1a1f24;
    text-decoration: none;
}

a:visited {
    color: #1a1f24;
}

#container {
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    width: 619px;
}

#bg-glow {
    background: url('../img/glow.png') no-repeat 0 0;
    left: -200px;
    position: absolute;
    top: 0;
    height: 754px;
    width: 1020px;
    z-index: 1;
}

#bg-mask {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 90px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.2)));
}

.site {
    position: relative;
    z-index: 2;
}

.nav {
    height: 14px;
    margin: 16px 0;
    text-align: center;
    position: relative;
    z-index: 2;
}

.nav ul {
    display: inline-block;
    height: 14px;
    list-style: none;
    margin: 0 auto;
}

.nav li {
    float: left;
    border-right: 1px solid rgba(26,31,36, 0.5);
    border-left: 1px solid #1a1f24;
}

.nav li:first-child {
    border-left: none;
}

.nav li:last-child {
    border-right: none;
}

.nav a {
    color: #050606;
    display: block;
    font-family: 'Istok Web', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    margin: 0 12px;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
}

.nav a:hover {
    color: #FAF5DC;
}

.nav.bottom {
    margin-bottom: 75px;
}

#posts {
    position: relative;
    z-index: 2;
}

.post {
    padding: 74px 0 33px 0;
    position: relative;
    width: 619px;
    margin: 0 0 180px;
}

.post-top {
    background: url('../img/text_top.png') no-repeat 0 0;
    padding: 39px 0 8px 59px;
    width: 560px;
    height: 27px;
    position: absolute;
    top: 0;
    left: 0;
}

.post-date {
    color: #6C7B86;
    display: inline-block;
    font-family: 'Istok Web', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 9px 0 0 39px;
    text-decoration: none;
    text-transform: uppercase;
}

.post-date:visited {
    color: #6C7B86;
}

.post-content {
    background: url('../img/text_slice.png') repeat-y 0 0;
    overflow: hidden;
    padding: 16px 59px 40px;
    zoom: 1;
}

.post-content .copy {
    clear: left;
}

.post h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 2.8em;
    line-height: 1.4em;
}

.post-bottom {
    background: url('../img/text_bottom.png') no-repeat 0 0;
    width: 619px;
    height: 33px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.post.quote .post-top {
    background-image: url('../img/quote_top.png');
}

.quote-container {
    background: transparent url('../img/diag_grey.png') repeat 0 0;
    padding: 10px 0;
}

.quote-container blockquote {
    background: transparent url('../img/quote_glyph.png') no-repeat 0 0;
    font-size: 2em;
    line-height: 1.4em;
    position: relative;
    left: -10px;
    padding: 0 10px 0 43px;
}

blockquote p {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

.post.quote .copy {
    margin-top: 0.6em;
}

#about {
    position: relative;
    z-index: 2;
    padding: 23px 0 63px;
    margin: 0 0 140px;
    text-align: center;
}

#about .post-top {
    padding: 0;
    background-image: url('../img/about_top.png');
    height: 23px;
    width: 619px;
}

#about .post-content {
    background-image: url('../img/about_slice.png');
    padding-bottom: 10px;
}

#about h1 {
    color: #1a1f24;
    font-family: 'Istok Web', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7em;
    letter-spacing: 0.1em;
    margin: 0 0 0.1em;
}

#about .post-bottom {
    background: url('../img/about_bottom.png') no-repeat -1px 0;
    height: 63px;
}

#footer {
    opacity: 0.2;
    filter: alpha(opacity=20);
    padding: 0 0 20px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 4;
}
